.app,.artistas,.categorias{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    color: #2c3e50;
}

.contenido{
    padding: 50px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.app {
    margin-top: 0px;
    margin-left : 50px;
}

.routerlink{
    color: aliceblue;
}

.categorias {
    margin-top: auto;
    border-right-style: groove;
    overflow: auto;
    height: calc(100vh - 56px);
    width: min-content;
    position: absolute;
}